@tailwind base;
@tailwind components;

.borderdashed {
    border: 2px dashed rgba(0,0,0,0.1);
}

@tailwind utilities;

@layer base {
    html {
        font-family: Nunito, system-ui, sans-serif;
    }
}

/* Make sure it prints background graphics */
* {
    -webkit-print-color-adjust: exact;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact;                 /* Firefox 48 – 96 */
    print-color-adjust: exact;           /* Firefox 97+, Safari 15.4+ */
}
@page {
    margin: 0;
}

div[id^=font-picker] {
    box-shadow: none !important;
}
div[id^=font-picker] .dropdown-button, div[id^=font-picker] .dropdown-button:hover {
    display: inline-flex !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 0.875rem;
    border: 1px solid;
    border-width: 1px;
    border-color: hsl(var(--bc) / var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity)) !important;
    font-weight: 600;
    border-radius: var(--rounded-btn, 0.5rem);
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%) !important;
    background-position: calc(100% - 20px) calc(1px + 50%), calc(100% - 16px) calc(1px + 50%) !important;
    background-size: 4px 4px, 4px 4px !important;
    background-repeat: no-repeat !important;
    --tw-border-opacity: 0.2 !important;
    height: 2rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    font-size: 0.875rem !important;
    line-height: 2rem !important;
}
div[id^=font-picker] .dropdown-button:focus {
     outline-style: solid;
     outline-width: 2px;
     outline-offset: 2px;
     outline-color: hsl(var(--bc) / 0.2);
 }
div[id^=font-picker] .dropdown-icon {
    display: none !important;
}
div[id^=font-picker] ul {
    background-color: hsl(var(--b1) / var(--tw-bg-opacity)) !important;
}
div[id^=font-picker] ul li button:hover, div[id^=font-picker] ul li button:focus {
    background: hsl(var(--b3) / var(--tw-bg-opacity)) !important;
}
div[id^=font-picker] ul li button.active-font {
    background: hsl(var(--p) / 1) !important;
}

.cards-container.colorful .bg1{background-color:  #f59e0b;} /* bg-amber-500 */
.cards-container.colorful .bg2{background-color:  #84cc16;} /* bg-lime-500 */
.cards-container.colorful .bg3{background-color:  #d946ef;} /* bg-fuschia-500 */
.cards-container.colorful .bg4{background-color:  #6366f1;} /* bg-indigo-500 */
.cards-container.colorful .bg5{background-color:  #f97316;} /* bg-orange-500 */
.cards-container.colorful .bg6{background-color:  #06b6d4;} /* bg-cyan-500 */
.cards-container.colorful .bg7{background-color:  #f43f5e;} /* bg-rose-500 */
.cards-container.colorful .bg8{background-color:  #a855f7;} /* bg-purple-500 */
.cards-container.colorful .bg9{background-color:  #10b981;} /* bg-emerald-500 */
.cards-container.colorful .bg10{background-color: #eab308;} /* bg-yellow-500 */

.cards-container.colorful .bg1-alt{background-color:  #d97706;} /* bg-amber-600 */
.cards-container.colorful .bg2-alt{background-color:  #65a30d;} /* bg-lime-600 */
.cards-container.colorful .bg3-alt{background-color:  #c026d3;} /* bg-fuschia-600 */
.cards-container.colorful .bg4-alt{background-color:  #4f46e5;} /* bg-indigo-600 */
.cards-container.colorful .bg5-alt{background-color:  #ea580c;} /* bg-orange-600 */
.cards-container.colorful .bg6-alt{background-color:  #0891b2;} /* bg-cyan-600 */
.cards-container.colorful .bg7-alt{background-color:  #e11d48;} /* bg-rose-600 */
.cards-container.colorful .bg8-alt{background-color:  #9333ea;} /* bg-purple-600 */
.cards-container.colorful .bg9-alt{background-color:  #059669;} /* bg-emerald-600 */
.cards-container.colorful .bg10-alt{background-color: #ca8a04;} /* bg-yellow-600 */

.cards-container.gradient .bg1{background-image: linear-gradient(-45deg, #f59e0b,#eab308);} /* bg-amber-500 */
.cards-container.gradient .bg2{background-image: linear-gradient(-45deg, #84cc16,#22c55e);} /* bg-lime-500 */
.cards-container.gradient .bg3{background-image: linear-gradient(-45deg, #d946ef,#ec4899);} /* bg-fuschia-500 */
.cards-container.gradient .bg4{background-image: linear-gradient(-45deg, #6366f1,#8b5cf6);} /* bg-indigo-500 */
.cards-container.gradient .bg5{background-image: linear-gradient(-45deg, #f97316,#f59e0b);} /* bg-orange-500 */
.cards-container.gradient .bg6{background-image: linear-gradient(-45deg, #06b6d4,#0ea5e9);} /* bg-cyan-500 */
.cards-container.gradient .bg7{background-image: linear-gradient(-45deg, #f43f5e,#ef4444);} /* bg-rose-500 */
.cards-container.gradient .bg8{background-image: linear-gradient(-45deg, #a855f7,#d946ef);} /* bg-purple-500 */
.cards-container.gradient .bg9{background-image: linear-gradient(-45deg, #10b981,#14b8a6);} /* bg-emerald-500 */
.cards-container.gradient .bg10{background-image: linear-gradient(-45deg, #eab308, #e7c208);} /* bg-yellow-500 */

.cards-container.gradient .bg1-alt{background-image: linear-gradient(-45deg, #d97706,#ca8a04);} /* bg-amber-600 */
.cards-container.gradient .bg2-alt{background-image: linear-gradient(-45deg, #65a30d,#16a34a);} /* bg-lime-600 */
.cards-container.gradient .bg3-alt{background-image: linear-gradient(-45deg, #c026d3,#db2777);} /* bg-fuschia-600 */
.cards-container.gradient .bg4-alt{background-image: linear-gradient(-45deg, #4f46e5,#7c3aed);} /* bg-indigo-600 */
.cards-container.gradient .bg5-alt{background-image: linear-gradient(-45deg, #ea580c,#d97706);} /* bg-orange-600 */
.cards-container.gradient .bg6-alt{background-image: linear-gradient(-45deg, #0891b2,#0284c7);} /* bg-cyan-600 */
.cards-container.gradient .bg7-alt{background-image: linear-gradient(-45deg, #e11d48,#dc2626);} /* bg-rose-600 */
.cards-container.gradient .bg8-alt{background-image: linear-gradient(-45deg, #9333ea,#c026d3);} /* bg-purple-600 */
.cards-container.gradient .bg9-alt{background-image: linear-gradient(-45deg, #059669,#0d9488);} /* bg-emerald-600 */
.cards-container.gradient .bg10-alt{background-image: linear-gradient(-45deg, #ca8a04, #c89a04);} /* bg-yellow-600 */


.cards-container.light .bg1{border:  3px solid #f59e0b;background-color:#fffbeb; color:#d97706;} /* bg-amber-500 */
.cards-container.light .bg2{border:  3px solid #84cc16;background-color:#f7fee7; color:#65a30d;} /* bg-lime-500 */
.cards-container.light .bg3{border:  3px solid #d946ef;background-color:#fdf4ff; color:#c026d3;} /* bg-fuschia-500 */
.cards-container.light .bg4{border:  3px solid #6366f1;background-color:#eef2ff; color:#4f46e5;} /* bg-indigo-500 */
.cards-container.light .bg5{border:  3px solid #f97316;background-color:#fff7ed; color:#ea580c;} /* bg-orange-500 */
.cards-container.light .bg6{border:  3px solid #06b6d4;background-color:#ecfeff; color:#0891b2;} /* bg-cyan-500 */
.cards-container.light .bg7{border:  3px solid #f43f5e;background-color:#fff1f2; color:#e11d48;} /* bg-rose-500 */
.cards-container.light .bg8{border:  3px solid #a855f7;background-color:#faf5ff; color:#9333ea;} /* bg-purple-500 */
.cards-container.light .bg9{border:  3px solid #10b981;background-color:#ecfdf5; color:#059669;} /* bg-emerald-500 */
.cards-container.light .bg10{border: 3px solid #eab308;background-color:#fefce8; color:#ca8a04;} /* bg-yellow-500 */

.cards-container.light .bg1-alt{background-color:#d97706;} /* bg-amber-600 */
.cards-container.light .bg2-alt{background-color:#65a30d;} /* bg-lime-600 */
.cards-container.light .bg3-alt{background-color:#c026d3;} /* bg-fuschia-600 */
.cards-container.light .bg4-alt{background-color:#4f46e5;} /* bg-indigo-600 */
.cards-container.light .bg5-alt{background-color:#ea580c;} /* bg-orange-600 */
.cards-container.light .bg6-alt{background-color:#0891b2;} /* bg-cyan-600 */
.cards-container.light .bg7-alt{background-color:#e11d48;} /* bg-rose-600 */
.cards-container.light .bg8-alt{background-color:#9333ea;} /* bg-purple-600 */
.cards-container.light .bg9-alt{background-color:#059669;} /* bg-emerald-600 */
.cards-container.light .bg10-alt{background-color:#ca8a04;} /* bg-yellow-600 */

.cards-container.light .placeholder-gray-200::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(75 85 99 / var(--tw-placeholder-opacity));
}


.box-gradient-shadow-custom:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #000000 0%, #000000 0% );
    transform: translate3d(0px, 3rem, 0) scale(0.94);
    filter: blur(10px);
    opacity: 0.3;
    transition: opacity 0.3s;
    height: 10px;
    border-radius: 100%;
}

/*
* Prevents issues when the parent creates a
* stacking context. (For example, using the transform
* property )
*/
.box-gradient-shadow-custom::after,
.box-gradient-shadow-custom-sidebar::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.box-gradient-shadow-custom-sidebar::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #000000 0%, #000000 0% );
    transform: translate3d(1rem, 0, 0) scale(0.94);
    filter: blur(10px);
    opacity: 0.2;
    transition: opacity 0.3s;
    border-radius: 3rem;
}

.w-\[130px\] {
    width: 130px;
    min-width: 130px;
    max-width: 130px;
}
